.LoginContainer {
  width: 1120px;
  height: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  /* background-color: aqua; */
}

.LoginContainerLeft {
  width: 550px;
  height: 600px;
  margin-right: 20px;
  /* background-color: aliceblue; */
}

.LoginIcon {
  width: 24px;
  height: 24px;
}

.LoginContainerLeftTop {
  width: 171px;
  height: 61px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 48px;
}

.LoginInput {
  width: 518px;
  height: 48px;
  outline: none;
  border: 1px solid;
  font-size: 16px;
}

.LoginContainerLeftCenter {
  padding-bottom: 40px;
}

.LoginContainerLeftBottom {
  width: 360px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
}

.LoginButton {
  width: 360px;
  height: 48px;
  background-color: #fa902d;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.LoginContainerRight {
  width: 550px;
  height: 600px;
}

.LoginLink {
  text-decoration: none;
  color: #fa902d;
}
