.sliderContainer {
  position: relative;
  width: 1120px;
  height: 314px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.sliderButtonLeft,
.sliderButtonRight {
  position: absolute;
  border: none;
  background-color: transparent;
}

.sliderButtonRight {
  right: 0;
}
